
.form-cont{
    display: grid;
    margin-bottom: 50px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    width: 300px;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;}
    
    
body{
    background-color: black;

}
label{
    color: aliceblue;
}
#titulo{
    color: bisque;
    font-size: 50px;
    font-family: fantasy;

}
#nombre{
    font-size: larger;
    color: aqua;
}
#redes{
    color: yellow;
    margin-top: 30px;
}
#trabajos{
    color: greenyellow;
    font-size: 20px;
}
.wsp{
    width: 50px;
    justify-self: center;
}
.inst{
    width: 50px;
    justify-self: center;
}
.lnd{
    width: 50px;
}
.imagenes{
    display: flex;
    gap: 10px;
    margin: 20px;
}
.foto{
    display: flex;
    width: 200px;
    align-items: center;
    margin-top: 20px;
    
}
#trabajo{
    background: none;
    border-color: rgb(140, 148, 155);
    width: 500px;
    height: 70px;
    color: aliceblue;
    grid-template-rows: 1fr;
}
#trabajo:hover{
    background-color: rgb(77, 81, 83);
    color: black;
    cursor: pointer;

}


.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}
.aaa{
    border: 2cqh;
    border-color: aliceblue;
}
.header {
    background-color: #141414;
    padding: 10px 0;
}
.nav {
    display: flex;
    justify-content: center; 
}
.nav-item {
    color: white;
    padding: 0 15px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.nav-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: white;
}